.wrap{
    background: url("../images/white-male-1834091_1280_copy.jpg") no-repeat;
    background-position: 93% 30%;
}

table tbody tr:nth-of-type(odd){
    color: #0a0a0a;
    background-color: yellow;
}