.glyphicon-remove{
    color: orangered;
    left: 3px;
}

.glyphicon-remove:hover{
    color: rgb(241,106,115);
}

.confirm-buttons {
    margin: 15px;
    cursor: pointer;
}

.btn-success{
    width: 80px;
}