.site-signup{
    margin-top: 5%;
    padding: 10px 40px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    position: absolute;
    left: 25%;
}

.title-div{
    text-align: center;
    margin-bottom: 40px;
}

.title-h{
    color: rgb(34,34,34);
    padding: 10px;
    border-radius: 5px;
}

.signup-label{
    color: rgb(34,34,34);
}

.signup-button{
    width: 100%;
}

/* nicepage */

@media (max-width: 1199px) {
    .u-section-1 .u-container-layout-1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .site-signup{
        left: 25%;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: 3px;
    }

    .site-signup{
        left: 15%;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-text-1 {
        margin-top: 0;
    }

    .site-signup{
        left: 7%;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        margin-top: 11px;
    }
}

