.wrap {
    background: url("../images/network-2402637.jpg") no-repeat;
}

.confirm-buttons{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

table{
    margin-bottom: 50%;
}

table tbody tr:nth-of-type(odd){
    color: #0a0a0a;
    background-color: yellow;
}

table tbody tr:nth-of-type(even) td{
    padding-top: 15px;
    padding-bottom: 15px;
}