.btn-menu{
    padding: 10px 20px;
}

.u-section-1 {
    background-image: none;
    min-height: 1338px;
}

.u-section-1 .u-image-1 {
    width: 1008px;
    height: 820px;
    margin: -2px auto 0 0;
}

.u-section-1 .u-group-1 {
    background-image: none;
    width: 740px;
    min-height: 109px;
    margin: -750px 0 60px auto;
}

.u-section-1 .u-container-layout-4 {
    padding-left: 40px;
    padding-right: 40px;
}

.u-section-1 .u-text-7 {
    font-size: 3rem;
    font-weight: 700;
    font-family: Chenla;
    margin: 24px 0 0;
}

.breadcrumb-div {
    position: absolute;
}

.breadcrumb{
    background: rgb(34,34,34);
    border-radius: 0px;
}

.breadcrumb a, .breadcrumb a:hover{
    color: rgb(255,255,255) !important;
}

.breadcrumb:last-child li{
    color: #5b99d4 !important;
}

.language-div{
    position: absolute;
    background: grey;
    padding: 5px;
    top: 15px;
    right: 20px;
}
.language-div a{
    color: rgb(255,255,255);
}

.language-div a:hover{
    color: rgb(255,255,255);
}

.img-lang{
    width: 20px;
    height: 20px;
}

.title-div{
    text-align: center;
    margin: -20px 0px 40px 1px;
    width: 50%;
}

.title-h{
    color: rgb(219,84,90);
    padding: 20px !important;
    background-color: rgb(255,255,255);
}

.pagination li.active a, .pagination li.active a:hover{
    color: rgb(57,135,195);
}

@media (max-width: 1199px) {
    .u-section-1 {
        min-height: 1307px;
    }

    .u-section-1 .u-image-1 {
        width: 935px;
        height: 764px;
    }

    .u-section-1 .u-group-1 {
        width: 738px;
        margin-top: -650px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .title-div {
        width: 50%;
    }
}


@media (max-width: 991px) {
    .u-section-1 {
        min-height: 1642px;
    }

    .u-section-1 .u-image-1 {
        width: 720px;
        height: 816px;
    }

    .u-section-1 .u-group-1 {
        width: 620px;
        min-height: 129px;
        margin-top: -670px;
        margin-right: calc(((100% - 720px) / 2) + -48px);
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-7 {
        width: auto;
        margin-top: 3px;
    }

    .title-div {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 1075px;
    }

    .u-section-1 .u-image-1 {
        width: 540px;
        height: 612px;
    }

    .u-section-1 .u-group-1 {
        width: 536px;
        min-height: 119px;
        margin-top: -500px;
        margin-right: calc(((100% - 540px) / 2) + -48px);
    }

    .u-section-1 .u-text-7 {
        margin-top: 0;
    }

    .title-div {
        width: 70%;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 1356px;
    }

    .u-section-1 .u-image-1 {
        width: 436px;
        height: 474px;
        margin-right: 0;
    }

    .u-section-1 .u-group-1 {
        width: 436px;
        min-height: 127px;
        margin-top: -400px;
        margin-right: auto;
    }

    .u-section-1 .u-text-7 {
        margin-top: 11px;
    }

    .title-div {
        width: 80%;
    }
}

.site-error{
    margin: 10px;
    padding: 10px;
    background-color: dimgray;
}
